<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>會員註冊</title>
    <!-- meta_tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Library Membership form A Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta_tag_Keywords-->
    <!--css_files-->
    <link rel="stylesheet" href="~/Content/MemberFront/jquery-ui.css" />
    <link href="~/Content/MemberFront/style.css" rel="stylesheet" type="text/css" media="all" /><!--stylesheet-->
    <link rel="stylesheet" href="~/Content/MemberFront/font-awesome.css"><!--font_wesome_icons-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet"><!--online_fonts-->
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"><!--online_fonts-->
    <!--//css_files-->
</head>
<body>
    @RenderBody()
</body>
</html>